/*
[Contents]

	0- Global
	1- Header
	2- Main Container
	3- Main
	4- Sidebar
	5- Footer
*/

/* =0 Global
/*---------------------------------------------------------------------------------------------------------------------*!*/
html,body{
    width:100%;
    height: 100%;
}
a{text-decoration: none;color: #000000;}
a:hover{text-decoration: none;cursor: pointer;}
.global-width{
    width: 974px;
    margin:0 auto;
}
/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/
.header{
    position: relative;
    height: 125px;
}
.logo{
    float:left;
    margin: 30px 0 0 30px;
    width:152px;
    height:65px;
}
 .header .slogan{
     float: left;
     margin: 65px 0 0 20px;
     width:200px;
     height: 35px;
     font-size: 15px;
     line-height: 15px;
}
.header .top-right{
    /*position: absolute;*/
    float:right;
    right: 0;
    margin-top: 8px;
}
#form-search{
    clear: right;
    float: right ;
    right:0;
    margin-bottom: 5px;
    width:238px;
    height:26px;

}
#form-search .editbox-search{

    vertical-align: top;
    border: 0;
    width: 154px;
    padding-left: 50px;
    height:26px;
    color: #FFFFFF;
    background: url(images/search_03.jpg) no-repeat;
}
#form-search .button-search{
    border: 0;
    margin-left: 5px;
    width: 26px;
    height:26px;
    background: url(images/search_btn_03.jpg) no-repeat;
}
.nav{
    position:relative;
    clear: both;
    height:38px;
    padding-bottom: 3px;
}
.nav-left{
    position: absolute;
    display: inline-block;
    width:19px;
    height:31px;
    background: url(images/nav_left.png);
}
.nav ul{
    height:38px;
    background: url(images/navbar.png);
}


.nav ul li{
    margin-right: -24px;
    display: inline-block;
    width:181px;
    text-align: center;
    background: url(images/nav_line.png) no-repeat right;

}
.nav ul li  a{
    display: block;
    line-height: 38px;
    color:#FFFFFF;
}
.nav ul li a:hover,.active{
    margin-left:-5px;
    width:182px;
    background: url(images/navbar03.png) no-repeat;
    color:#0392CE;
    background-size: cover;
}
.nav ul li a.active{  color:#0392CE;  }
/*
---------------------banner-------------------------------*/
.banner-wrapper{
    clear: both;
    width: 100%;
    height:280px;
    background: url(images/banner_bg_03.jpg) repeat-x;

}
.banner-pic-wrap{
    position: relative;
    line-height: 0;
}
.mask {
    position: absolute;
    top:0;
    width:37px;
    height:277px;
    background:url(images/banner_shadow_03.jpg);
}
 .banner-left-shadow {  left:-37px;  }
 .banner-right-shadow {  right:-37px;  }

/* =2 Main Container
---------------------------------------------------------------------------------------------------------------------*/

/* =3 Main
---------------------------------------------------------------------------------------------------------------------*/
.main{
    clear: both;
    position: relative;
    width:894px;
    padding:0 40px ;
    height:auto;
    min-height: 420px;
}
.main-left-shadow {
    position: absolute;
    left:-20px;
    top:-3px;
    width:20px;
    height:368px;
    background: url(images/main_shadow_03.jpg);
}
.main-right-shadow {
    position: absolute;
    top:-3px;
    right:-24px;
    width:24px;
    height:368px;
    background: url(images/main_shadow_05.jpg);
}


/*---------------breadcrumb----------------*/

.breadcrumb li{
    display: inline-block;
    line-height: 43px;
}
.breadcrumb li a{  color: #98999b;  }
.breadcrumb li span{  color: #000;  }

/*

----------------sidebar---------------------*/

.leftcolumn{
    float:left;
    width:285px;
    min-width: 285px;
}
.leftcolumn h3{
    padding:0 0 15px 10px;
    line-height: 38px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
.leftcolumn .title{
    color: #ffffff;
    background: url(images/main_05.jpg) no-repeat right top;
    border-bottom:3px dotted #000000;
}
.leftcolumn .headline {
    margin-top: 10px;
    background: url(images/main_03.jpg) no-repeat ;
}
.leftcolumn .headline a{
    color:#FFFFFF;
}
.leftcolumn ul .side-menu{
    position: relative;
    line-height: 16px;
    padding: 5px 0;
    border-bottom:3px dotted #000;
}
.leftcolumn ul li span {
    display: block;
    line-height: 16px;
    padding: 5px 0;
    border-bottom:3px dotted #000000;
}

.leftcolumn .article{
    position: relative;
    line-height: 16px;
    padding: 5px 125px 5px 0;
    border-bottom:3px dotted #000;
}

.full-text{
    display: block;
    position: absolute;
    color: #FFFFFF;
    padding-left: 15px;
    width: 63px;
    height: 19px;
    right:0;
    bottom: -3px;
    background: url(images/btn.png) no-repeat;
}
.article a:hover{
    color:#0392ce;
}
.hover_bg{
    background: url(images/btn_01.png) no-repeat;
}
dl{
    line-height: 15px;
    margin-bottom: 5px;
}
dl span dt {
    width:285px;
    border-top:3px dotted #000000;
}
dl dt{
    padding: 10px 0 0 0;
    color: #1493cf;
}
.leftcolumn ul li ul{
    display:none;
    padding: 5px 0;
    border-bottom:3px dotted #000000;
}
.leftcolumn ul li ul li{
    padding-left: 40px;
    text-transform: uppercase;
}
.leftcolumn ul li a:hover{
    color:#0392ce;
}
.leftcolumn .introduction{
    padding:15px 0;
    line-height: 15px;
    border-bottom: 3px dotted #000;
}
/*
----------------right---------------------*/

.rightcolumn{
    float:right;
    width:570px;
    min-width: 570px;

}
.rightcolumn h3{
    font-weight: normal;
    line-height: 38px;
    text-transform: uppercase;
    font-size: 24px;
    color: #ffffff;
    padding:0 0 15px 10px;
    border-bottom: 3px dotted #000000;
    background: url(images/main_05.jpg) no-repeat;
}
.rightcolumn h1{
    padding: 30px 160px 10px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.rightcolumn h4{
    font-size: 12px;
    line-height: 32px;
    width: 570px;
    text-transform: uppercase;
    border-bottom: 3px dotted #000000;
}
.page-wrapper{
    margin-top:20px;
    font-size: 12px;
    color:#000;
    line-height: 24px;
}
.page-wrapper p{
    padding-bottom: 30px;
}
.pg-left{
    float:left;
    width:345px;
}
.page-wrapper img{
    float:right;
    width:208px;
    height: 179px;

}
.text-list,.content-header{
    position: relative;
    line-height:16px;
    padding :7px 0;
    border-bottom:3px dotted #000000;
}
.content-header {color: #1493cf}
.object{
    display: inline-block;
    width: 285px;
}
.level{
    display: inline-block;
    width: 140px;
}
.contract{
    display: inline-block;
    width: 55px;
}
.body-text{
    padding: 10px 80px 20px 0;
    display: none;
}
.body-text span{
    display: block;
    margin-top: 15px;
    color: #1493cf
}
.text-button{
    position: absolute;
    float: right;
    right: 0;
    bottom: -3px;
    width:78px;
    height: 19px;
    border: 0;
    color: #ffffff;
    background: url(images/btn.png) no-repeat;
}
.rightcolumn h4 span{
    color:#939598;
}
.list-view .list{
    position:relative;
    line-height:16px;
    padding :7px 0;
    border-bottom: 3px dotted #000000;
}
.list-view .list .heading{  font-size:15px;  }
.list-view .list .tag{  color:#1493cf;  }
.list-view .list .list-content{
    color: #939598;
    padding-right: 80px;
}
.page-link{
    display: block;
    position: absolute;
    float: right;
    right:0;
    bottom: -3px;
    width:63px;
    height: 18px;
    padding:1px 0 0 15px;
    border: 0;
    color: #ffffff;
    background: url(images/btn.png) no-repeat;
}
.pg-first{  font-size: 18px;  color:#0392ce;  padding-bottom: 30px;  }
.page-index{
    position: relative;
    top:25px;
    float:right;
    width:190px;
}
.page-index ul li{
    float:left;
    padding-left: 5px;
    display: inline-block;
}
.page-index ul li a span{
    padding:0 5px;
}
.index-first{
    display: block;
    float: left;
    left:0;
    width: 19px;
    height: 19px;
    background: url(images/page_btn_03.jpg);
}
.index-last{
    display: block;
    float: left;
    margin-left:5px;
    width: 19px;
    height: 19px;
    background: url(images/page_btn_05.jpg);
}
.index-end{
    display: block;
    position: absolute;
    float: right;
    right:0;
    width: 19px;
    height: 19px;
    background: url(images/page_btn_09.jpg);
}
.index-next{
    display: block;
    float: right;
    margin-right:24px;
    width: 19px;
    height: 19px;
    background: url(images/page_btn_07.jpg);
}
.box-info {
    padding: 15px 0 0 0;
    height: 320px;
}
.box-info p{
    float: left;
    padding:1px 0;
    height: 30px;
}
.box-info p .label {
    display: inline-block;
    width:125px;
    line-height: 32px;
}
.box-info p input[type=text]{
    width: 267px;
    height: 28px;
    padding-left: 5px;
    border:0;
    background: url(images/input_03.jpg);
}
.checkbox{
    display: inline-block;
    padding:35px 0;
}
.check-info{
    display: inline-block;
    padding: 2px 0 2px 8px;
    vertical-align: bottom;
}
.button-info{
    float: right;
    width: 122px;
    height: 60px;
    margin-top: -30px;
}
.button-global{
    float:right;
    width: 122px;
    height: 28px;
    font-size: 12px;
    padding-right: 20px;
    border: 0;
    color:#FFFFFF;
}
.button-sign{  background: url(images/btn_03.jpg) no-repeat;  }
.button-commit{
    margin-top: 4px;
    background: url(images/btn_06.png) no-repeat;
}
.button-login{
    margin-top: 35px;
    background: url(images/btn_06.png) no-repeat;
}

/* =4 Sidebar
---------------------------------------------------------------------------------------------------------------------*/

/* =5 Footer
---------------------------------------------------------------------------------------------------------------------*/
.bottom{
    /*clear: both;*/
    float:left;
    margin-top:60px;
    margin-bottom:120px;
    width: 100%;
    background:#ebebeb;
}
.bottomcolumn{
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
    width:184px;
}
.bottomcolumn h3{
    line-height: 24px;
    font-size:13px;
    padding:20px 0 4px 0;
}

.bottomcolumn ul li a{
    text-decoration: underline;
    color:#8a8c8e;
}
